extends layout 
 
block content 
  h1= title 
 
  - let fanid = toShow._id 
  - let fanbrand = toShow.brand
  - let fan_type = toShow.types 
  - let fancost = toShow.cost 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{fanid} 
  - let actionid = "/resource/fans/" + fanid 
  form(id='fanForm', action= actionid, method="PUT") 
    div.form-group 
        label.fanAttr(for='brand') fan brand 
        input#fan_type(type='text', name='brand', value= brand ) 
    div.form-group 
        label.fanAttr(for='types') fan type 
        input#size(type='text', name='types', value= types ) 
    div.form-group 
        label.fanAttr(for='cost') fan cost 
        input#cost(type='number', name='cost', value= cost ) 
    input(type="submit") 
 
  script. 
    document.forms['fanForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 